html, body {
  width      : 100%;
  height     : 100%;
  margin     : 0;
  padding    : 0;
  overflow   : hidden;
  font-family: sans-serif; 
}

#renderCanvas {
  width: 100%;
  height: 100%;
}

#youdie {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12em;
  color: red;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

#score {
  position: absolute;
  top: 1%;
  right: 10%;
  font-size: 6em;
  color: white;

}

#lives {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 6em;
  color: white;
}

#speed {
  position: absolute;
  top: 20%;
  right: 10%;
  font-size: 6em;
  color: white;

}